<div class='container-fluid'>
  <div class='row'>
    <div class='span12'>
      <div class='col-xs-6'>
        <div class='compone2'>
          <div class='span2'>
         <a class = 'home'>Home </a> &nbsp; &nbsp;
         <a class = 'aboutMe'>About Me</a> &nbsp; &nbsp;
         <a class = 'projects'>Projects</a> &nbsp; &nbsp;
         <a class = 'contactMe'>Contact Me</a>&nbsp; &nbsp;
          </div>
          <div class='info'>
            <h1>Projects</h1>
            <div class='bar2'> </div>
            <h4> View code on my Github and Codepen </h4>
          </div>
          <p class='openpar2'> Here are a few examples of some of my past projects. Everything here was coded by myself. </p>
        </div>
      </div>
      <div class='col-xs-6'>
        <div class='comptwo'>
          <div class='row projectBox well'>
            <div class='span3'>
              <a target="_blank" href='https://realtime-voting-app.herokuapp.com/'>
                <img class='voteimg' data-img="Real Time Voting App. This is a real-time updating voting app I created using Socket IO, NodeJS, ChartJS, Express (with Handlebars) and MongoDB. The charts update in real time as people vote without having to refresh or reload the page. Try it yourself!" src='https://dl.dropboxusercontent.com/s/ci9xqjlngyjjok0/Voting%20App.jpg?dl=0'
                />
              </a>
              <a target="_blank" href='http://codepen.io/doppleganger07/full/RRwRMj/'>
                <img class='voteimg' data-img="This program is the very familiar and classic Simon Says game. When the game starts, you must copy the sequence of button presses the game gives you. After completing the sequence, the game will give you the same sequence again, but this time one additional push. The object is to get as far as you can without making a mistake." src='https://dl.dropboxusercontent.com/s/r3rq78qb74uae5k/Simon%20Says.jpg?dl=0' />
              </a>
              <a target="_blank" href='http://codepen.io/doppleganger07/full/PzoOrd/'>
                <img class='voteimg' data-img="This is self-explanatory. A basic calculator at the moment, but more buttons will be added in the future." src='https://dl.dropboxusercontent.com/s/rxwoqc160qw6gdb/calculator.PNG?dl=0' />
              </a>
            </div>
            <div class='span3'>
              <a target="_blank" href='http://codepen.io/doppleganger07/full/dXyXBZ/'>
                <img class='voteimg' data-img="This is a simple app that is designed to display the local weather (it takes your location automatically). The icon changes depending on what the weather is." src='https://dl.dropboxusercontent.com/s/y5e1ea4nwuu4b8i/Weather%20App.jpg?dl=0' />
              </a>
              <a target="_blank" href='https://github.com/Cgaye/angular-portfolio'>
                <img class='voteimg' data-img="This portfolio page! Created with AngularJS, Node, Bootstrap and Express" src='https://dl.dropboxusercontent.com/s/6p9xscl4ahcxjfu/portimage.jpg?dl=0' />
              </a>

              <a target="_blank" href='https://github.com/Cgaye/react-portfolio'>
                <img class='voteimg' data-img="An older portfolio. Created with ReactJS, Node, Bootstrap and Express" src='https://dl.dropboxusercontent.com/s/tt4gqj3x6oanemn/Default.jpg?dl=0' />
              </a>
            </div>

            <div class='descbox'> Hover over images for more information</div>


          </div>
          <video  playsinline autoplay muted loop>
       <source src='https://dl.dropboxusercontent.com/s/gegc1y5qiqsibch/Waterfall.mp4?dl=0' type="video/mp4">
     </video>
     
     
        </div>
      </div>
    </div>
  </div>
</div>
<img class='htmllogo2' src='https://dl.dropboxusercontent.com/s/hqjdv4pnxot5a60/Node%20image.png?dl=0'>

<script>


var tl = new /*global TimelineMax*/TimelineMax();
var key = 0;  
  
  
  
tl.from(".compone2", 1 , {width: '100%'})
  .to( '.home', 0.1 , {opacity: 1})
  .to( '.projects', 0.1 , {opacity: 1})
  .to( '.aboutMe', 0.1 , {opacity: 1})
  .to( '.contactMe', 0.1 , {opacity: 1})
  .staggerTo( '.span2', .01 , {opacity:1}, .1)
  .staggerFrom( '.info', 0.5, {opacity:0, scale: 0.6, ease: /*global Back*/Back.easeout},.1)
  .staggerFrom('.htmllogo2', 0.1 , {opacity: 0})
  .staggerTo('.htmllogo2', 1, {scale: .50, rotation: 90})
  .staggerFrom( '.openpar2', .5, {opacity:0}, .1);

  /*global $*/$('.voteimg').hover(function(){
       key = this.getAttribute('data-img');
      $('.descbox').empty();
      $('.descbox').append('<p class = "desctext">' + key + '</p>');       
  
  });
  
  $('.home').click(function(){
        tl.to('.span2', .01, {opacity:0})
          .to('.info', 0, {opacity:0})
          .to('.openpar2', 0, {opacity:0})
          .to('.compone2', 1 , {width: '100%'});
      setTimeout(function(){
          $(/*global location*/location).attr('href', '#/');
      }, 1000);
        });
        
          $('.aboutMe').click(function(){
        tl.to('.span2', .01, {opacity:0})
          .to('.info', 0, {opacity:0})
          .to('.openpar2', 0, {opacity:0})
          .to('.compone2', 1 , {width: '100%'});
      setTimeout(function(){
          $(/*global location*/location).attr('href', '#aboutMe');
      }, 1000);
        });

          $('.contactMe').click(function(){
        tl.to('.span2', .01, {opacity:0})
          .to('.info', 0, {opacity:0})
          .to('.openpar2', 0, {opacity:0})
          .to('.compone2', 1 , {width: '100%'});
      setTimeout(function(){
          $(/*global location*/location).attr('href', '#contactMe');
      }, 1000);
        });

</script>